section.bgg {
    height: 200vh;
    margin: 0;
    background-image: url('../assets/home/latar.png');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;

  }